<% @service.result['fuel_stations'].each do |station| %>
  <p><%=station['station_name']  %></p>
  <p><%=station['fuel_type_code']  %></p>
  <p><%= station['city'] %></p>
  <p><%= station['state'] %></p>
  <p><%= station['street_address'] %></p>
  <p><%= station['zip'] %></p>
  <p><%= station['distance'] %></p>
<% end %>
